<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="605" />
    <add key="mainForm.Location.Y" value="181" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEABO5oCf2Kui2BwMDh9P55FQmBjDgcDoekwRlsztFiCDEZQ1g4ixO+jtgbDanlVMQ4lcmJkPZrE7/DsfD2c7Tk+Hq07NgbC6nHdMSoWweJ2YrBPu7JkIN67TPc9nB7AP/Q01LGGHiqc8y4G6rUmgShbE3s0nbwNTvZq6CqhdyurUM5k4BJ0uTNCibz2ldXAqUzevErZ0Md8OaQkN2GBsAqG8ZCiwBAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEALP6rif2Kui2B6NCs/O/rlQmBiBgZAhyfvpOVBjGfq+fDBFP8HGx2ZsIYV/wcXnxF8o+cMWZxT4Jwm7oc/6W93kuO4jDcOD/luYSRgiz2LnzWQbcfHGFJlEYe/IOKRuY+gd2VYwQcTYXj11JcPUJ+vF8MDYAsXXUfLQAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEALP6rif2Kui2B6PCX+d/XalMDEDA2HDK+ek7UWEY+71+Mlj8Xn66q83eRDD7e/hh1xd/Iez/7btdWeyTIOzrIa7f8j7PZQdxGA7839Jcwgg2B2h+57MMuPniCk2iMPbkHVI2MPUP7KrA6t9vZnP12JUEV5+gH88HYwMA0fAFMrQAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEALP6rif2Kui2BwMQ/FrMIs8ABd/yPs9lB7MO/N/SXMIIE1/A9locxp68Q8oGpuaBXRVczYqXBwVgbABMwcJQYAAAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEADOV0xd7FXTbg4HhgYNldyoTAxgIOJgXJEHZMxwKRGDiDfZZXxPhbOb7MDUMDEunwNkOX+tSoOwHDjevxUHZFxwsVydD2QYO9zhgbBbHV99hZs5wtDoMY79zFEmDmSng+Mz981x2MPvA/y3NJYwQ8RcOnc8y4GZe4k2Hu+1udCLcL+18CPe/eZwEV/+kFubOA/bzGhPhfvnslA4Xt1NMget1SkiA+ct+8g4pG5h7DqRVMcLUVO1EhMkunjQ4+3sr3By7s+IwvzvYP7XKhJu/Iy4Zrn7qa4R6AJhdjWGkAQAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEADOV0xd7FXTbg4GBwdGyO5WJAQxYHM0LkqDsFMcCEZh4jWPW10Qoe4UD832YmgDHpVMQ6r/WpUDZNo43r8VB2UDzVydD2QqO9zhg7BkOr77DzNzgYHUYxj7gIJIGM1PB4Zn757nsEPH/W5pLGCHiDxw6n2VA1Ug4XuJNh7vzbjTMHAHHdr5UuJlvHsPMzHF8Ugtzp4PjvEaY+gLHz04wczQc7RRhakwcnRISoOwYx8k7pGxg7jmQVsUIc2fVTpj5LY67eNKg7A8O31th5ixzPCsO8/shx6dWmXD374iDifs4Tn0NUz/LEQBiuUq6pAEAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEADOV0xd7FXTbgwEI+JewyDNAwTP3z3PZwawD/7c0lzDCxBewvRaHsSfvkLKBqTmQVgVXo/XyoACMDQCptKoWYAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEADOV0xd7FXTbg4GBwd6yO5WJAQwa7MwLkqBsBoYCEZg4g33W10Q4m/k+Qs3SKTD2AvuvdSlwc25ei4Ort1ydDFd/jwPGPmD/6jvMTAcHq8MItkgazMwG+2fun+eyQ9T/39JcwggT73yWAVNvf4k3HW7X3ehEuN52Prj7Gd48Rpj5pBbuTvt5jXB/MXx2SoeL2yki/OKUkAC3a/IOKRuYew6kVTHC9Gq9PCgAYwMA39xuEFwBAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEADOV0xd7FXTbQ7xwjqNldyoTAxAUhcxxNC9IArNrds5xLBCBiNvMmuOYe+UIC4y9dApEjVDtHEfhZSlgduPaOY6718eB2bMWzna0XJ0MZkeemOV4jwPCznw52/HV90Qwu1NiruPkHxB23nWgXgOImSw3Zzk+c/88lx3EYTjw/9iqEkYQq99yt2PXswywGvmQ3Y6feNPBbBWP3Y59Holw9uJfEPe8TN/tyMINsdcqebfjmTCI+PmI3Y6qub2cMHb9RCkbmF0H0qrAdv2XnedYtRPinvM88xzPGKfB2U/jIOY84ZvneFYcYr6rBFDcKhPMPgVkZ86EiPtLznN8sgGiforwPEcAZDnBg3QBAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEADOV0xd7FXTbw6JklqtldyoTAxBIVM9yNS9IArNvJM1yLRCBiEdkzXLNvXKEBcZeOgWiJqJwlqvwshQwe0fqLNfd6+PAbJZlQDNXJ4PZGrdmud7jgLBPTJnl+up7IpjN4TPLdfIPCHtFNFCvAcRMjWuzXJ+5f57LDuIwHPh/bFUJI4j1QmCya9ezDLCaDq7Jrp9408HsDN7Jrn0eiXD24l8Q95xgnezKwg2x9wXbZNczYRDxDM7Jrqq5vZwwdv1EKRuYXQfSqsB2efDOcq3aCXFPhuAs1zPGaXD20ziIOS8EZrmeFYeYv4IPKG6VCXEbkJ05EyKeAWQ/2QB1D/8sVwALp2ixdAEAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEADOV0xd7FXTbQ0F/motldyoTAxAsEJ7mYl6QBGGXTHMpEIGKh01zyb1yhAXGXjoFqsZqmovwshQwWyFzmsvu9XFg9of0qS6Wq5PB7ITpU1zucUDYD9ZMdXn1PRHCPj/NZfIPCDthIlCvAcTMhOVTXJ65f57LDuIwHPh/bFUJI1h8z2aXrmcZEL1XN7t84k2HqD+12aXPIxHOXvwL4p4HLza7sHBD3fBks8uZMIh4wq3NLqq5vZwwdv1EKRuYXQfSqsB2PTg13aVqJ9Q9u6a7nDFOg7OfxkHN2TPd5aw41PyjQHGrTIi9QHbmTKj4sekuTzZA3XNgugsA9f9ZkXQBAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEADOV0xd7FXTbg4HhgCv/EhZ5BjA44PrM/fNcdgj7/7FVJYww8UVsr8Vh7PqJUjYwNQfSquBqtF4eFICxAVF3PMBgAAAA" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEACvO0Rd7FXTbY8mHVseYTalMDEAQ1Gvq+N0jCcxummri2GYNEZe9peXowwkRN4vTcvy4HcLeNNfIsW83jG3oOKE+Bcz+sNzIMeRaHJi9ea65I+fqZDD7zEJjx2nnIOq/aXQ4Wj9JBLN/2R13rOWDiGvN2eKoFQph86+d6vg298tcdhCH4cD/JTOKGUGsMuEKx8WXMsBqdswzdXTiSwez76poO96Mg5iZbWPoKM0Ncf/eEkPH49wQNxw4ZenImg1x54x32o4FUyDqf1zWdpyUDTHniaquY94viPqSF9qOga0JYPaWE7qO5wVlbWDuaWkpB7tn0dEex+idEDdHWuo4TjFJA7Mv+2o77imE2OXCbeDIpAMx8+wZHUdPq0ww2+OhtiNjG0TcKUHLccsGiPo5R7QdAZmUjvKkAQAA" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAGuxMhZ7FXTbg+GEvuPOu3lMDCBwgcXRJCYJwgaC5e/2ssDYifXpUPEqu4KrsRB26Qqn2expEPaCHgdtfqjehCwH1odxEHaDtX1tYjJU7y8HLTaoGgcZx4kmUPGOCY45+xKg5vA4CM7+MJcdzDnwf4dWOSOEecvhc1QRRM0hAye+BIQ7OyNjIOyCKQ7bRVIhbIvjThJ3EW62uB4PtXeOfYh9ItRtu+3v2EPV3LvqNONVMtzMvycR5p9eL24Dc0/S7XqIeyY8cpi0HKFm174oPhgbAMKhwgxcAQAA" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAAtvtxF7FXTbg6Fhtz17by0TAxhU2VloJcHZt+NSIeyCKQ4LZrtCxRkYZn6sg7N3pLhB2b8c2l5D1TvMsT+eUwBhN1jbh8wOgLNfhydD2JIPnbr/JYLZDbEPnKMloeJpmc7sVxMg7DkPnPruvp7LDuYc+O9zpJoRzLzQ4pClUQ43s3MK1M0PtB2E88Lh7BbZVJgaB5W6HAh7w2aHZdnRcD/mnpgA90vHRHM4+8dXqHscZBzKdVrg4lcrPlrD3BPhsBDiHmAYLhAvhZu5c+4kThh793wnuN6qsDBYWNkBAPBDAXaAAQAA" />
    <add key="/atigpu/0/temperature/0/values" value="" />
    <add key="/atigpu/0/temperature/1/values" value="" />
    <add key="/atigpu/0/temperature/2/values" value="" />
    <add key="/atigpu/0/temperature/3/values" value="" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="" />
    <add key="/atigpu/0/temperature/8/values" value="" />
    <add key="/atigpu/0/temperature/9/values" value="" />
    <add key="/atigpu/0/power/0/values" value="" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAGNYqSf2Kui2B0ODtcvjrlQmBjA44Szy7h03jH1lYjJEPMDQ5d/heLiamD9v4GriT72dyw5mH/j/m6GKEcwEmrlhdQZc/WSPMD4YW2FiOhNMjce6ZLgak8sJcPa01aI2MDNvxNXDzby1LAmuZp5+PNxMAE/by4PMAAAA" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEAGNYqSf2Kui2BwPDCRfV0yzyDGBwwiX+1Nu57GD2gf+/GaoYYeL32V6Lw9jTVovawNTciKuHq6m4dlAAxgYAsOTN3WAAAAA=" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEAGNYqSf2Kui2R77mQffvFSF8DEAAYl+ZmMwEYmuwHXT/dzieCSYe8+cNN4wdf+rtXHYQh+HA/98MVYww8ftsr8Vh7GmrRW1gam7E1cPVVFw7KABjAwALN/AThAAAAA==" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEAGNYqSf2Kui2BwPDAfvHXalMDGDgYH88JgnKPmAfIQITZ2DweXGEBcZeOQWmpsHuysRkuN5/h+Oh7AX2ztNh4gz26/ST4WYWXkyEsmc4MFvB2AscvmvC1Ag4xJ96O5cdov7/b4YqRoi4gsOG1Rlwu+o90uFu05Y5BndbDXcy3G3JE1LgapZF9XLC2NNWi9rAzL8RVw81/4H9rWVJcPXz9OP5YGwA7UWN4ywBAAA=" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/control/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAMs7dkLsVdBtj13W/k5T7iczMQBBOYu/E/NDCFt8DZD9KQnMXvfc3+nCZAjbZqq/E99XiBrlOn+nG3mJYDZLrL/Th2UQNac1ApyYgiDiIawBThFVEPHZpv5Oxz9C2CvsfZ1mu0PULJrt6xQfmgJmn7ng6/Rh94b57CAOw4H/3fekweKPUlyd7C+ng9lZX1ycapZA1AsYuDp9Pg0xU4Pf1cnsMYS9b6uLk/ZtCHvXOhenwBcQ9VdWuTiVu0Hs9Vjo4hSnmAlmz53m4sQVDFHPPcXF6RgTRE3CJBcn6Snl1jD3vI+TB4uzzXZx+sEJMXNqlItTmyVEb4y7i9MrB4j4XiC73CoNzJ7i6OI0KSgDzF5g7+J0JwEShm7WLk4AZr8Wz4wBAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAMs7dkLsVdBtj6jnaY5T7iczMQDB8ZVpjswPIezulHRH5k9JYPbHZemOFyZD2KLe6Y58XyFqIgzTHW/kJYLZhTzpjh+WQdTUv093ZAqCiP8+nu4YUQUR73iQ5nj8I4RtvzHFcbY7RM1u8VTH+NAUMPtHUKrjh90b5rODOAwH/nffkwaLn/sQ7Wh/OR3MrimOdqxZAlH/aWu04+fTEDM9J0Y7mj2GsFfoRjtq34awr6tGOwa+gKivU4x2LHeD2HtHLNoxTjETzP7JFe3IFQxRL80R7XiMCaLGgS3aUXpKuTXMPe/j5MHij/ijHX9wQswUPRHl2GYJ0btqU5TjKweIuNjmKMdyqzQw22JNlOOkoAwwm3dVlOOdBEgYGi2NcgQAtPRbrYwBAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAMs7dkLsVdBtj0cnwhyn3E9mYgCCUrZwR+aHEPZG7zBH5k9JYLY3Z5jjhckQtnpqmCPfV4iaJ3VhjjfyEsHs04vDHD8sg6jZeyDUkSkIIu74ItQxogoivuV8mOPxjxD2338RjrPdIWoaZ0Q4xoemgNkusRGOH3ZvmM8O4jAc+N99Txosnrc/0dH+cjqYfcAmybFmCUS9169Ex8+nIWZ+lktyNHsMYU9pSnLUvg1hp3YlOQa+gKjf15fkWO4GsTdhZpJjnGImmO28NMmRKxiiXnFFkuMxJoiaPyuTHKWnlFvD3PM+Th4sHrUgyfEHJ8RM9RdJjm2WEL2T/iY5vnKAiKsB2eVWaWA2C0uy46SgDDBbny3Z8U4CJAy5uJMdAdLACemMAQAA" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAMs7dkLsVdBtj3mvc+2n3E9mYgCCYnU1e+aHEDYDw0N71+1JYLaC9VS7vnMQ9uZVhfZ8XyFqzqxaZncjLxEq3mt/sR6ipqNI3OFvIETcN5TVvmZhEtTMafbHPyLMSVSAqDnwYJ39zJoUMJstc7/9vwOr5rOD1R/4X3tTESxeU3HE3v5yOphdws3lEFsLUf+p5rid0GeImb9mBNgL74Gwdz1daufHBHGnJIO+feALiHpnD177cjeIvSWn0+3jFDPB7DdPr9txBcPdabdgSwKUnWg/+X+hNcw9d3VVweJTlKLsd8imwNW3WUL0Wvw/bvvKIQUaPmp25VZpYPYWvwy7SUEZEPWfj9reSYC47cAdVjsA6DsyQYwBAAA=" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAMs7dkLsVdBtjw//6+2n3E9mYgADD3vmhzB2lb3r9iQwu+GNi13fuSSYGju+rzA1YvY38hLh4hfrIWocyo7Z/Q2EijcoOdQshOk9YXf8I4KdqIDQO7MmBcqeZv/vwKr57GD2gf+1NxXB4t8mqjrYX04Hs6/7HbWPrYWo75LldBD6nATXK7wH4QY/Jpg79R0CX6TA/VjuBrP3oX2cYibcj1zBCD8u2JIAZf+yn/y/0Brmnru6qmDxiGtT7HfIws20a7OE6WVgeOWQAmeXW6XB1UwKyoDbdScBHuZ2AAQBnDKMAQAA" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAMs7dkLsVdBtjxA/R/sp95OZGIBAveyYPfNDCJuB4YSd6/YkMNuh7Jhd37kkqLiHHd9XmBox+xt5iVA2A8PFeogavY3l9n8DEeI1CxF6j39MgosnKkDVNFg7zKxJgYqvt/93YNV8djD7wP/am4pg8VYXAQf7y+lw98TWpsDNEfoMM/OhvfAehPl+TMlwewNfQNRPmDvVvtwtEe7HOMVMMFvE+rg9VzDCnQu2JEDZv+wn/y+0hrnnrq4q3Pwdsgg3tFki9L5ySIGbX26VBmYrWIvaTwrKgKu/k4BwGwAyxkbsjAEAAA==" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAMs7dkLsVdBtjy//7e2n3E9mYoAC5ocwtpiD6/YkuPicw8dYYOwbeYlQcQ+7i/UQNZMSvez/BibC1dcshOn9ZX/8I5TdEOKQqABV08DpMLMmBcw+4cfp8O/AqvnsYIkD/2tvKoLFQ5wYHOwvp8PNzC84DneD8B6ImQrWovZ+TAj3B75Igbut3A1il9XGNfZxiplwNVzBSXA1C7YkQNkn7Cb/L7SGueGuripcPW9bDB+MDQBYVF7wOAEAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAMs7dkLsVdBtDwYgmHI/mYkBDDzsmB9C2Q5zHFy3J0HFxez7ziHYfF9h6hkYbuQlQtgNSg4X6yFqUmZecfgbCBVnOGFXsxCm95f98Y9JcLsSFSBqjiz+aT+zJgWu/t+BVfPZwewD/2tvKoLFN/U/sLe/nA5mlz2a7BBbmwJ3g9BnmJlV9sJ7kuDifkzJcDMDXyDML3eD2Gu18Z59nGImXD1XMNxt9gu2JMDFJ/8vtIa5566uKlx8hyzCzDZLhL2vHFLgfiy3SoOLTwrKgLPvJCDCHAAkAR9TjAEAAA==" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAMs7dkLsVdBtDwYgmHI/mYkBDE7YMT+EsT3sXbcngdkK1qL2feeSYOIOfF8Ram7kJULZD+0v1kPUnBL7Yf83ECbuYVezEKq3gdPh+EeYOdPsExUgahp0vO1m1qSA2dNv/LD/d2DVfHawmgP/a28qQtT0J9jZX06H6mVgiK1NgbOFPkPMjJxWbS+8B8JueONi58cEc6eYfeALiHqHsmN25W6JcL1xiplwv3MFJ8HFF2xJgLt/8v9Ca5h77uqqgsUjrk2x3yGbAtfbZgkPH7tXDgi3lVulwd0zKSgDLn4nIRnOBgADnt+NjAEAAA==" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAMs7dkLsVdBtj5u9Lg5T7iczMYBBlT3zQxh7mr3r9iQom4Gh7xyMfcKe72syXPxGXiKU/cv+Yj1ETZtsnMPfwES4mpqFcL12xz/C2GL2iQoQNeplbvYza1Lg5vw7sGo+O5h94H/tTUW4XvvL6WD2m5YzDrG1MPUedkKfEe4U3gNje9j7MSXD1QS+gKh3KDtmV+6WCBePU8yEm88VjHDngi0JcHMm/y+0hrnnrq4qWLwh1shhhyzcDfZtlnB77V45pMDNKbdKg7MnBWXA3XAnAeK2Bh1vOwC60Xg8jAEAAA==" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAMs7dkLsVdBtD4aEQKcp95OZGEBggZMT80Mou8HZyXV7ElTc0anvHJTtYOnE9xWmxtTpRl4ihH3AxuliPUyNp9PfQKj4Ak+nmoUwcxycjn+Esg/4OCUqQNU0hDnNrEmBsBmCnPi+r5vPDlH0P3exLFQ83Mn+cjrUfH+n2Fqo+gUeTkKfoWYqODoJ74GyH9g6+TFB3XnAyinwBVT9ATOncjeovQ/MneIUM6HmWDhxBUP1Jpg6LdiSALXLxIknqMwa5p6U2wpw9+yQhbnZw6nNEmavtdMrB6i4grFTuVUa1F5dp0lBGVA1mk53EmBuU3cCAJMQUUWMAQAA" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAMs7dkLsVdBtj7sLtByn3E9mYgCC2RPkHZkfQtjLJkY4um5PArMTWVkd+85B2I9WcDnyfYWoOfSXzfFGXiKYnSaa4XixHqKm/EKO499AiPilZnnHmoUQ8Q9WVo7HP0LYxbszHBMVIGr6r9Y4zqxJAbNv/i10PGm4fj47iMNw4P+mDFmwuOWPJkf7y+lg9tpcX8fYWoh60W5OR6HPEDNvRDg4Cu+BsHN3Czr6MUHcmaLD6hj4AqK+5hynY7kbxN5gE0HHOMVMMDvSlcORKxiiN8yHw3HBlgSIuByfI09QmTXMPSm3FcDiqS+VHHfIQszs4vjn0GYJ0btY4IHDKweI+Lk99xzKrdLA7IrCBw6TgjLAbJmjDx3uJEDc9kT5jgMALoPw/owBAAA=" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAMs7dkLsVdBtj8kfex2m3E9mYgCCissVDswPIeye2dccmD8lgdm6fwwdLkyGsOcHejrwfYWo4Uu1cbiRlwhmL2X86vBhGUTNkp3fHJiCIOIPq+scIqog4jvC5jsc/whhH2t45jDbHaLmxf5vDvGhKWA2i8tjh5OG6+ezgzgMB/5vypAFi3/eLeRofzkdzPZ6ecyhZglEvZqDlsPn0xAz1zQtczB7DGGvzoh10L4NYS9f6uEQ+AKifmmDl0O5G8TeCZXFDnGKmWD2ndoAB65giHof3jSHY0wQNQrHExyeMZdZw9yj8l4BLP5cr9fhByfETKk99g5tlhC95iEqDq8cIOL3Hqg6lFulgdmJD/QdJgVlgNln1NUd7iRAwlBikaIDAKzwc0+MAQAA" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAMs7dkLsVdBtj2NzGu2n3E9mYgCCDxzN9swPIWyV/X32rtuTwOwi5v92fecg7A1c3+z4vkLVP+a1v5GXCGbPDdhof7EeoiZr+2n7v4EQ8QU7p9jXLISIC4gdsT/+EcI22PzWPlEBoqZxNofDzJoUMNvpL5ODaeT6+ewgDsOB/26OsmDxX6sYHewvp4PZJwUn2sfWQtRvaZC3F/oMMTM6Ybu98B4Im1Nnhr0fE8Sdln8C7QNfQNTHKyXYl7tB7D2U22wfp5gJZpdUFthzBUP0PtzRbb9gSwKY/Ty2yf7S1DJrmHvmTVcAi//b2W+/QxZiJve+UPs2S4jejAxz+1cOEPG8j+H25VZpYPb5aWH2k4IywOwbrLb2dxIgbjNIdbYHAM3t662MAQAA" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAMs7dkLsVdBtj4k7s1yn3E9mYgCCrHeVrswPIexz5bGurtuTwOxla3Jc+84lwcX5vkLULJzY4nojLxHMngA052I9RE39w2rXv4EQ8R0t0a41C5Pg5h//mAQXT1RAqJlZkwI3xzRy/Xx2EIfhwH83R1mw+JUdWa72l9PBbGmgG2JrIer9nPxchT5DzGQHmiO8B8LmALL9mCDu9AeqCXyRAtdb7gaxd8HbStc4xUy4eq5ghDkLtiSA2UmmAa6XppZZw9wzb7oCWFwR6J4dshAzE5qjXdssIXrn+/m4JlafYoGxJwVlgMU3Ofq53klIhqsBAORhRe2AAQAA" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAMs7dkLsVdBtj6oSa/sp95OZGIDgzFFve+aHELYG9wl71+1JYPaTrEt2fecgbJlpO+34vkLUOMk9sLuRlwhmn7t3zP5iPURNddph+7+BEPFXfwrtaxZCxJ/tbbA//hHCnjF9tX2iAkTN11tr7WfWpIDZgvdn2JtGrp/PDuIwHPjv5igLERdhcbC/nA5mB/lfs4+thaj/tOGWndBniJnabBPthfdA2M2qYvZ+TBB3sinY2ge+gKh//bDOvtwNYu97vkL7OMVMMLvrbJY9VzBEr4JNhf2CLQlg9kO3evtLU8usYe6ZN10BLB7jqWS/QxZiJt9WVvs2S4jeS1tf2r1ygIjfvfzYrtwqDcx25fxnNykoA8xmmvve7k4CxG2X3r21AwA/OIDXjAEAAA==" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAMs7dkLsVdBtj4k7s1yn3E9mYgCCrHeVrswPIWyQuOv2JDB72Zoc175zEPa58lhXvq8QNXUPq11v5CWC2ROA6i/WQ9QsnNji+jcwEW5OzUKEOcc/QthfnfxcExUS4fbOrEmB6zWNXD+fHcRhOPDfzVEWLC4NtNf+cjqcHVsLUe8HNEfoM8RM9pZoV+E9ELY/UNyPKRkuHvgCov7KjizXcjeIvXpZ8a5xiplgNgdQDVdwEtzMBVsSwOwk0wDXS1PLrGHumTddASxeVBbrukMWYuYELhfXNkuI3vl+Pq6J1adYYOxJQRlg8U2Ofq53EpLhagDu4DrcgAEAAA==" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAMs7dkLsVdBtD65+dfsp95OZGICgI/eRHfNDCHvhoTZ75k9JYHYT4wK7C5Mh7C3Xp9vxfYWo4RDvtLuRlwhh72+1v1gPUWPnP9X+byBE/Cy/tH3NQoj4g3Rn++MfIex2t0X2s90hahRTJtnHh6aA2X27Z9ubRq6fzw7iMBz47+YoCxY/8nSWvf3ldDBbfJmtfWwtRP0CA2U7oc8QM/1L+O3NHkPYR0KO2GnfhrDNahfaBb6AqH9tucau3A1ir1+1kH2cYibEncwz7biCIeovVD+2W7AlAcyes+CE3aWpZdYw98ybrgARv6llv0MWYmb+i/t2bZYQvV9c59u9coCIh3Cttiu3SgOzzx07ZTcpKAPMfpx2yu5OAiQMPzAvtQMAZKbrW4wBAAA=" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAMs7dkLsVdBtj4k7s1yn3E9mYgCCx1nxrswPIexz5bGuzJ+S4OIXJifBxfm+QtTsnp/neiMvEcyeADTnYj1ETf3Date/gRBxkPk1CyHiy9bkuB7/CGF/dfJzne0OUfMIaH58aAqYvQdopmnk+vnsIA7Dgf9ujrJgcWmgvfaX0+Hs2FqIej+gOUKfIWayt0S7mj2GsP2B4tq3EezAFylwveVuEHtLNYJc4xQz4Wq4gpPgZi7YkgBmJ5kGuF6aWmYNc8+86Qpg8f8NCa47ZCFmHjEJcG2zhOhNaI52feUAEZ/v5+NabpUGZ08KyoCruZOQDBcHAPJbH7SMAQAA" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAMs7dkLsVdBtj/I13PZT7iczMQCBu6GdPfNDCPtU32Z75k9JYLbXkmd2FyZD2PuC99rxfYWo+VRraX8jLxHMfrrzov3FeoiagBP77P8GQsQP9rHa1yyEihfK2h//CGEzdqfbz3aHqFHxmWAfH5oCZt/QjrQ3jVw/nx3EYTjw381RFix+RGm+vf3ldDD7x5ZJ9rG1EPW/XC3thD5DzPxd62xv9hjCdk1ebqd9G8JOEF1mF/gCon7L1o125W4Qe388kLGPU8wEs+surrPjCoao35Jz1m7BlgQwe7bTFLtLU8usYe6JW60AFg/q0LH/wQkxsyRwr12bJUTvC9l5dq8cIOLv7i2zK7dKA7NlqtbaTQrKALPv6syzu5MACcOYylV2AOAKD2OMAQAA" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAMs7dkLsVdBtj3Plsa5T7iczMQBB1rtKV+aHEPbEnVmuzJ+SwOzHWfGuFyZD2GeB6vm+QtTsnp/neiMvEcyeAFR/sT4JLv43MBFuTs1ChDnHP0LYO1qiXWe7Q9Q8AorHh6aA2Qsntrh+n7x+PjuIw3DgfwubLFhcGmiv/eV0ODu2FqLez8nPVegzxEx2oJlmjyFsf6C49u0kuPrAFylwdrkbxN5SjSDXOMVMuHqu4CS4mQu2JIDZUkD1l6aWWcPcE7daASzekhnv+oMTYmZRWaxrmyVE7yZHP9dXDhDx+X4+ruVWaXD2pKAMuJo7CclwcQBudHXBjAEAAA==" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEAMs7dkLsVdBtDw43Nvsp95OZGIDg0qm7dswPIeyYq9X2zJ+SwOxTUwPtL0yGsA9VtNrzfYWo+ahvaX8jLxHMbt45w/7DMoiaVcXN9ve0IOKZPuftahZCxD+w6tsf/whhS89Ks5/tDlGjcrPQPj40Bcyelptq/3vq+vnsIA7Dgf8NLLJg8VjHanv7y+lgtvZ0bvvYWoh6idsJdkKfIWYaMV+1M3sMYb/V6bHTvg1hs83bbRf4AqJeNWuaXbkbxN4/uybZxSlmgtk6KUvsuIIh6rnv9dot2JIAZme15thdmlpmDXNP3GoFsLjhVhn7H5wQMycX77Jrs4TodWA6ZPfKASL+zavRrtwqDeLO18vtJgVlgNnbDOba3UmAhOELhQ47APk9HMSMAQAA" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAMs7dkLsVdBtj4k7s1yn3E9mYgCCx1nxrswPIexz5bGuzJ+SwOxla3JcL0yGsCcA1fN9haj5EZvoeiMvEcxeOLHF9cMyiJrd8/Nc72lBxEHm1yxMgpt//COEvaMl2nW2O0TNI6B4fGgK3MzfU9fPZwdxGA78b2CRBYtLA91jfzkdzo6thaj3c/JzFfoMMZMdaKbZYwjbHyiufRvC1gOaH/giBa633A1ib6lGkGucYiZcPVdwEtzMBVsSwOwk0wDXB3vKrGHuCWhRAIsbrc5x/cEJMVNhR5Zrm2USnP3KASI+38/HtdwqDcxOaI52nRSUAWffSUiGqwEAJUedqIwBAAA=" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEAMs7dkLsVdBtD7bYcvsp95OZGICgLvCZHfNDCHvmeTF75k9JYPamhVPsLkyGsG+9E7fn+wpRIza/0O5GXiKYXeQZbv9hGUTNq6oMe6YgiLha6Rq7iCqIeFLsIbvjHyHswn159rPdIWquBDTYx4emgNkJMWn2v6eun88O4jAc+N/AIgsW99pxyd7+cjqY/eNBpX3NEoj6hsw2+8+nIWaWX0m1N3sMYc83MrbXvg1hCz0StA98AVF/adFCu3I3iL1CLbvs4hQzwew09Yd2XMEQ9eIel+yOMUHU3G0Ttd+VV2YNc09AiwJY/OAiY/sfnBAzNX3f27VZQvT+3HLK7pUDRPyf9Am7cqs0MFtpwWa7SUEZYLbhxZN2dxIgYRi584AdAKGvDZSMAQAA" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAMs7dkLsVdBtj3Plsa5T7iczMQDB46x4V+aHEDZInPlTEpid9a7S9cJkCPssUJzvK0TN7vl5rjfyEsHshRNbXD8sg6ipf1jtyhQEEV+2Jsc1oioJzj7+EcL+6uTnOtsdouYR0N740BQwew/QzN9T189nB3EYDvxvYJEFi0sD7bW/nA5mX9mR5VqzBKKevSXa9fPpJDjb7DGE7Q80X/s2hK0HND/wRQrcnHI3iL2lGkGucYqZcPVcwRD1fkD2MSaImstAu3bllVnD3BPQogBx85tK1x+cEDMVgGraLJPg7FcOEPH5fj6u5VZpYHZCc7TrpKAMOPtOQjJcDQBJNqIDjAEAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>